body{
    display: grid;
    grid-template-rows: 50px auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color: rgb(254, 238, 252);
    gap: 80px;
}

header{
    grid-area: header;
    background-color:rgb(255, 255, 255);
    justify-self: center;
    align-self: center;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #3d4748;
}

#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: 3fr 2fr;
    grid-template-areas: 
    "main_map main_map main_map content content content"
    "tax tax nec nec qual qual";
    display: grid;
}

#contents{
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr 3fr; 
    grid-template-areas: "survey" "buttonHome"
}

#chart{
    height:10vh;
}

#the_map{
    height:100vh;
    grid-area: main_map;
}

#theSurvey{
    grid-area: survey;
    justify-self: center; /* added this to center the button in the div */
}

/* css for the button */
#surveyButton{
    padding: 15px 32px;
    margin: 10px;
    background-color: #3d4748;
    cursor: pointer;
}

/* css for button to get rid of the underline */
#surveyButton a{
    text-decoration: none; 
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#placeForButtons{
    grid-area: buttonHome;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

#pieChartTaxBracket{
    grid-area: tax;
    height: 10vh;
}

#pieChartNecessaryIncome{
    grid-area: nec;
    height: 100px;
}

#qualityOfLife{
    grid-area: qual;
    height: 100px;
}